

body {
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    justify-items: center;
}
.main-container{
    width: 1440px;
    margin: 0 auto;
}
html {
    scroll-behavior: smooth;
    background: #343C82;
}

.roadmap-image{
    width: 200%;
    height: 200%;
    flex-shrink: 0;
}
header {
    max-width: 1036px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
}

header .logo {
    display: flex;
    align-items: center;
    color: rgb(224, 224, 224);
    font-family: Rubik;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 4%;
}

header .logo img {
    width: 55px;
    height: 45px;
    margin-right: 16px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header nav a {
    display: flex;
    margin: 0 18px;
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1%;
    text-decoration: none;
    transition: font-size 1.3s ease, background-color 1.3s ease, border-radius 1.5s ease;
}

header nav a:hover {
    font-size: 18px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

header nav a:first-child {
    margin-left: 0;
}

header nav a:last-child {
    margin-right: 0;
}


.topBaner {
    margin-top: 88px;
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.topBaner .topBanerImg {
    width: 554px;
    height: 450px;
}

.topBaner .left {
    max-width: 588px;
}

.topBaner .left h1 {
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: 0%;
}

.topBaner .left span {
    color: rgb(224, 224, 224);
    font-family: Rubik;
    font-size: 32px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1%;
}

.topBaner .left .btns {
    display: flex;
    align-items: center;
    margin-top: 60px;

}

.topBaner .left .btns .btn {
    position: relative;
    width: 240px;
    height: 90px;
    /* Auto layout */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 16px 16px 24px;
    border-radius: 32px;
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 25px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    background: rgb(54, 113, 233);
}

.topBaner .left .btns .btn img {
    background: white;
    padding: 4px;
    border-radius: 50%;
    margin-left: 24px;
    width: 24px;
    height: 24px;
}

.topBaner .left .btns>a {
    width: 65px;
    height: 65px;
    margin-left: 18px;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 122px auto 0 auto;
    overflow: hidden;
    position: relative;
}

.features .circleBG {
    position: absolute;
    width: 686px;
    height: 686px;
    background: conic-gradient(from 180deg at 50% 50%, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0));
    border-radius: 50%;
}

.features .circle1 {
    left: 450px;
    top: -350px;
    transform: rotate(90.00deg);
}

.features .circle2 {
    left: -450px;
    bottom: 0px;
    transform: rotate(-5.26deg);
}

.features .circle3 {
    right: -450px;
    bottom: 0px;
    transform: rotate(-120.00deg);
}

.features .featuresBlock {
    display: flex;
    width: 1026px;
    margin: 75px auto 0 auto;
    justify-content: space-between;
    align-items: center;

}

.features .featuresBlock img {
    width: 424px;
}

.features .featuresBlock .content {
    width: 454px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.features .featuresBlock .content h3 {
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.features .featuresBlock .content p {
    color: rgb(224, 224, 224);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1%;
    text-align: left;
    margin-top: 24px;
}

.features .featuresBlock .content .content-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px 16px 32px;
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    border-radius: 32px;
    background-color: rgb(54, 113, 233);
    margin-top: 32px;
    text-decoration: none;
}

.features .featuresBlock.featuresBlockRight {
    flex-direction: row-reverse;
}

.features .featuresBlock>img {
    transform: rotate(21.44deg);
}

.features .featuresBlock.featuresBlockRight>img {
    transform: rotate(-12.63deg);
}

.features h2 {
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 40px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 122px;
}

.data .dataElem {
    max-width: 250px;
    width: calc(250px - 48px);
    padding: 24px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 6, 0.15);
    background: rgb(34, 39, 56);

}

.data .dataElem .circle {
    width: 68px;
    margin-right: 25px;
}

.data .dataElem .right {
    width: 90px;
}

.CircularProgressbar-trail {
    stroke-width: 4px;
}

.data .dataElem .right span {
    color: rgb(138, 146, 166);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: -1px;
}

.data .dataElem .right p {
    color: rgb(211, 211, 211);
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

.data {
    max-width: 1300px;
    width: calc(100% - 56px);
    margin: 0 auto;

}

.data h2 {
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 60px;
    text-align: center;
    margin-top: 80px;
}

.data .data_body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.roadMap {
    width: 1294px;
    margin: 0 auto;
    bottom: 4ch;
    position: relative;
}

.roadMap h2 {
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    margin-top: 311px;
    margin-bottom: 220px;
    text-align: center;
}

.roadMap .roadMapBG {
    width: 100%;
}

.roadMap .roadMapElem {
    width: 250px;
    position: absolute;

}

.roadMap .roadMapElem .line {
    transform: rotate(-45deg);
    height: 2px;
    width: 80px;
    display: block;
    left: 100px;
    top: -31px;
    position: absolute;
    background-color: black;
}

.roadMap .roadMapElem .roadMapElemBody {
    width: 203px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    height: 111px;
    border: 2px solid black;
    border-radius: 58px;
    background-color: #343C82;
}

.roadMap .roadMapElem .roadMapElemTitle {
    right: 40px;
    top: -82px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    letter-spacing: 0%;
    text-align: left;
}

footer {
    width: 100%; /* Установите ширину футера на 100% */
    bottom: 0; /* Размещаем футер внизу экрана */
    background: rgb(13, 13, 43);
    padding: 48px 74px 20px 74px;
    margin-top: 148px;
}

.footerBody {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 120px;
}

footer .footerBody .footer_logo {
    color: rgba(255, 255, 255, .7);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 4%;
    margin-right: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

footer .footerBody .footer_logo img {
    width: 93px;
    margin-right: 9px;
}

footer .footerBody .col {
    margin-left: 36px;
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: flex-start;
}

footer .footerBody .col h3 {
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 24px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footerBody .col ul {
    display: flex;
    align-items: flex-start;
    margin-left: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.social-icons {
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 20px; /* Уменьшаем пространство между иконками */
}

.social-icons img {
    width: 50px; /* Ширина изображений */
    height: 50px; /* Высота изображений */
}


footer .footerBody .col ul a {
    color: rgb(242, 242, 242);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    text-decoration: none;
}
.footerBody{
    max-width: 1440px;
}
footer>span {
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.up-arrow {
    position: fixed;
    bottom: 32px;
    right: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.up-arrow svg {
    fill: #ffffff;
    width: 32px;
    height: 32px;
}

.up-arrow:hover{
    bottom: 45px;
    animation-name: upArrow;
    animation-timing-function: linear;
    animation-duration: 0.5s;
}

.contact-wrapper {
    display: flex;
    height: 59px;
    left: 10%;
    position: relative;
    top: 0px;
    width: 447px;
  }
  
.contact {
    height: 59px;
    position: relative;
    width: 451px;
  }
  
.text-wrapper-29 {
    color: #ffffff;
    font-family: Rubik;
    font-size: 16;
    font-style:normal;
    font-weight: lighter;
    left: 0;
    letter-spacing: 1px;
    
    position: absolute;
    top: 0;
    width: 435px;
  }

  .overlap-group-6 {
    height: 28px;
    left: 0;
    position: absolute;
    top: 31px;
    width: 447px;
  }
  .rectangle-7 {
    height: 21px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 313px;
}

.text-wrapper-30 {
    color: #ffffff;
    font-family: "Rubik", Helvetica;
    font-size: 10px;
    font-weight: 400;
    left: 12px;
    letter-spacing: 0.1px;
    line-height: 28px;
    position: absolute;
    top: 0;
    width: 435px;
  }
  .copy {
    height: 14px;
    left: 289px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 14px;
}
@keyframes upArrow {
    0%{
        bottom: 32px;
    }

    100%{
        bottom: 38px;
    }
    
}
@media screen and (min-width: 1620) {
    .dataElem{
        width: auto;
    }
}
@media screen and (max-width:1620px) {
    .roadMap {
        width: 80%;
    }

    .roadMap .roadMapElem:nth-child(4) {
        left: 65% !important;
        top: 32% !important;
    }

    .roadMap .roadMapElem:nth-child(5) {
        left: 87% !important;
        top: 48% !important;
    }

    .roadMap .roadMapElem:nth-child(6) {
        left: 40% !important;
        top: 62% !important;
    }

    .roadMap .roadMapElem:nth-child(7) {
        left: 75% !important;
        top: 89% !important;
    }
}



@media screen and (max-width:1240px) {
    .main-container{
        width: 100%;
    }
    .topBaner .topBanerImg {
        width: 350px;
    }

    .roadMap .roadMapElem .line {
        display: none;
    }

    .roadMap .roadMapElem .roadMapElemTitle {
        position: relative;
        top: unset;
        right: unset;
    }

    .roadMap .roadMapElem {
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .roadMap .roadMapElem .roadMapElemBody {
        width: 150px;
        height: 75px;
    }

    .roadMap .roadMapElem:nth-child(3) {
        left: 15% !important;
        top: 16% !important;
    }

    .roadMap .roadMapElem:nth-child(4) {
        left: 65% !important;
        top: 16% !important;
    }

    .roadMap .roadMapElem:nth-child(5) {
        left: 87% !important;
        top: 30% !important;
    }

    .roadMap .roadMapElem:nth-child(6) {
        left: 40% !important;
        top: 47% !important;
    }

    .roadMap .roadMapElem:nth-child(7) {
        left: 75% !important;
        top: 89% !important;
    }

    .data .data_body {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    header,
    .topBaner {
        max-width: 90%;
        margin: 0 auto;

    }

    .topBaner .left {
        width: 50%;

    }

    .topBaner .left h1 {
        font-size: 32px;
        line-height: 100%;
    }

    .topBaner .topBanerImg {
        width: 40%;
    }

    .features .circle1 {
        left: 280px;
    }

    .features .featuresBlock {
        width: 90%;

    }

    .features .featuresBlock img {
        width: 40%
    }

    .features .featuresBlock .content {
        width: 40%
    }

    .data .dataElem {
        width: 22%;
        margin-top: 15px;
        justify-content: space-around;
    }

    .roadMap h2 {
        margin-top: 100px;
        margin-bottom: 80px
    }
}

@media screen and (max-width:820px) {
    .roadMap .roadMapElem {
        width: 100px;
    }

    .roadMap .roadMapElem .roadMapElemBody {
        width: 100px;
        height: 50px;
        border-radius: 25px;
    }

    .roadMap .roadMapElem:nth-child(3) {
        left: 5% !important;
        top: 22% !important;
    }

    .roadMap .roadMapElem:nth-child(4) {
        left: 65% !important;
        top: 22% !important;
    }

    .roadMap .roadMapElem:nth-child(5) {
        left: 87% !important;
        top: 40% !important;
    }

    .roadMap .roadMapElem:nth-child(6) {
        left: 40% !important;
        top: 51% !important;
    }

    .roadMap .roadMapElem:nth-child(7) {
        left: 75% !important;
        top: 80% !important;
    }

    footer .footerBody {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer .footerBody .col {
        margin-left: 0;
    }
}

@media screen and (max-width:710px) {
    .topBaner .left .btns {
        flex-wrap: wrap;
    }

    .topBaner .left .btns .btn {
        width: 190px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:600px) {


    header {
        flex-direction: column;
    }

    header nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    header .logo {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .topBaner .topBanerImg {
        display: none;
    }

    .topBaner .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    .features h2 {
        margin-top: 20px;
    }

    .features .featuresBlock {
        margin-top: 15px;
    }

    .features .featuresBlock img {
        display: none;
    }

    .features .featuresBlock .content {
        width: 100%;
    }

    .data .dataElem {
        width: 100%;
    }

    .roadMap .roadMapElem {
        width: 70px;
    }

    .roadMap .roadMapElem .roadMapElemBody {
        width: 70px;
        height: 30px;
        border-radius: 20px;
    }

    .roadMap .roadMapElem:nth-child(3) {
        left: 5% !important;
        top: 37% !important;
    }

    .roadMap .roadMapElem:nth-child(4) {
        left: 60% !important;
        top: 37% !important;
    }

    .roadMap .roadMapElem:nth-child(5) {
        left: 87% !important;
        top: 50% !important;
    }

    .roadMap .roadMapElem:nth-child(6) {
        left: 35% !important;
        top: 57% !important;
    }

    .roadMap .roadMapElem:nth-child(7) {
        left: 75% !important;
        top: 75% !important;
    }

    footer {
        padding: 24px;
    }
}